<h1 style="font-size: 20px"><%= @title || @subject %></h1>
<a name="top"></a>

<ul>
  <% @data.each do |project_data| %>
    <li><%= link_to project_data[:project].name, "#project-#{project_data[:project].id}" %></li>
  <% end %>
</ul>
<% @data.each do |project_data| %>
  <a name="<%= "project-#{project_data[:project].id}" %>"></a>
  <h1 style="font-size: 20px; margin-top: 30px; text-decoration: underline" id="<%= "project-#{project_data[:project].id}" %>">
    <%= project_data[:project].name %>
  </h1>

  <% if project_data[:overdue_alarm_issues].present? %>
    <table style="border-collapse: collapse">
      <thead>
        <tr>
          <th style="border: 1px solid #ddd; padding: 5px; width: 120px"><%= t 'field_project' %></th>
          <th style="border: 1px solid #ddd; padding: 5px;"><%= t 'activity_report.mailer.issue' %></th>
          <th style="border: 1px solid #ddd; padding: 5px;"><%= t 'activity_report.mailer.reaction_time' %></th>
        </tr>
      </thead>
      <tbody>
        <% project_data[:overdue_alarm_issues].each do |issue, reaction_time| %>
          <tr>
            <td style="border: 1px solid #ddd; padding: 5px;"><%= link_to issue.project.try(:name), project_url(issue.project.identifier) %></td>
            <td style="border: 1px solid #ddd; padding: 5px;"><%= link_to "##{issue.id}: #{issue.subject}", issue_url(issue) %></td>
            <td style="border: 1px solid #ddd; padding: 5px;"><%= reaction_time %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <p>
    <strong><%= t('activity_report.mailer.total_hours') %>:</strong>
    <%= number_with_precision project_data[:total_hours], precision: 2, separator: '.' %>
    <strong><%= t('activity_report.mailer.total_issues_count') %>:</strong>
    <%= project_data[:total_issues_count] %>
  </p>

  <% if project_data[:time_entries].present? %>
    <table style="border-collapse: collapse">
      <thead>
        <tr>
          <th style="border: 1px solid #ddd; padding: 5px;"><%= t 'activity_report.mailer.user' %></th>
          <th style="border: 1px solid #ddd; padding: 5px;"><%= t 'activity_report.mailer.hours' %></th>
          <th style="border: 1px solid #ddd; padding: 5px;"><%= t 'activity_report.mailer.issues_count' %></th>
        </tr>
      </thead>
      <tbody>

        <% project_data[:time_entries].group_by(&:user).sort_by { |u, te| -te.map(&:hours).sum }.each do |user, time_entries| %>
          <tr>
            <td style="border: 1px solid #ddd; padding: 5px;"><%= link_to user.name, "#project-#{project_data[:project].id}-user-#{user.id}" %></td>
            <td style="border: 1px solid #ddd; padding: 5px;"><%= number_with_precision time_entries.map(&:hours).sum, precision: 2, separator: '.' %></td>
            <td style="border: 1px solid #ddd; padding: 5px;"><%= time_entries.map(&:issue_id).uniq.size %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <% project_data[:time_entries].group_by(&:user).sort_by { |u, te| -te.map(&:hours).sum }.each do |user, time_entries| %>
    <br/>
    <br/>
    <a name="<%= "project-#{project_data[:project].id}-user-#{user.id}" %>"></a>
    <h2 style="font-size: 18px" id="<%= "project-#{project_data[:project].id}-user-#{user.id}" %>"><%= user.name %></h2>
    <p>
      <strong><%= t('activity_report.mailer.total_hours') %>:</strong>
      <%= number_with_precision time_entries.map(&:hours).sum, precision: 2, separator: '.' %>
      <strong><%= t('activity_report.mailer.total_issues_count') %>:</strong>
      <%= time_entries.map(&:issue_id).uniq.size %>
    </p>

    <table style="border-collapse: collapse">

      <% if @period == 'daily' %>

        <!--DAILY REPORT-->

        <thead>
          <tr>
            <th style="border: 1px solid #ddd; padding: 5px; width: 120px"><%= t 'field_project' %></th>
            <th style="border: 1px solid #ddd; padding: 5px;"><%= t 'activity_report.mailer.issue' %></th>
            <th style="border: 1px solid #ddd; padding: 5px;"><%= t 'activity_report.mailer.hours' %></th>
            <th style="border: 1px solid #ddd; padding: 5px;"><%= t 'field_created_on' %></th>
          </tr>
        </thead>
        <tbody>
          <% time_entries.sort_by{|e| e.created_on }.each do |entry| %>
            <tr>
              <td style="border: 1px solid #ddd; padding: 5px;"><%= link_to entry.issue.project.try(:name), project_url(entry.issue.project.identifier) %></td>
              <td style="border: 1px solid #ddd; padding: 5px;"><%= link_to "##{entry.issue_id}: #{entry.issue.try(:subject)}", issue_url(entry.issue_id) %></td>
              <td style="border: 1px solid #ddd; padding: 5px;"><%= number_with_precision entry.hours, precision: 2, separator: '.' %></td>
              <td style="border: 1px solid #ddd; padding: 5px;"><%= format_time entry.created_on, false %></td>
            </tr>
          <% end %>
        </tbody>

      <% else %>

        <!--WEEKLY OR MONTHLY REPORT-->

        <thead>
          <tr>
            <th style="border: 1px solid #ddd; padding: 5px; width: 120px"><%= t 'field_project' %></th>
            <th style="border: 1px solid #ddd; padding: 5px;"><%= t 'activity_report.mailer.issue' %></th>
            <th style="border: 1px solid #ddd; padding: 5px;"><%= t 'activity_report.mailer.hours' %></th>
            <th style="border: 1px solid #ddd; padding: 5px;"><%= t 'activity_report.mailer.work_dates' %></th>
          </tr>
        </thead>
        <tbody>
          <% time_entries.group_by(&:issue).sort_by { |u, te| -te.map(&:hours).sum }.each do |issue, entries| %>
            <% if issue.present? %>
              <tr>
                <td style="border: 1px solid #ddd; padding: 5px;"><%= link_to issue.project.try(:name), project_url(issue.project.identifier) %></td>
                <td style="border: 1px solid #ddd; padding: 5px;"><%= link_to "##{issue.id}: #{issue.subject}", issue_url(issue) %></td>
                <td style="border: 1px solid #ddd; padding: 5px;"><%= number_with_precision entries.map(&:hours).sum, precision: 2, separator: '.' %></td>
                <td style="border: 1px solid #ddd; padding: 5px;"><%= entries.sort_by(&:spent_on).map { |e| format_date(e.spent_on) }.uniq.join(', ') %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>

      <% end %>

    </table>
    <br/>
    <%= link_to "#{ t 'activity_report.mailer.up_to' } #{project_data[:project].name}", "#project-#{project_data[:project].id}"%>
  <% end %>

   | <%= link_to (t 'activity_report.mailer.up_link'), "#top" %>
<% end %>
